.react-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ALIGN-ITEMS */
.react-flex-align-items-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.react-flex-align-items-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.react-flex-align-items-end,
.react-flex-align-items-flex-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.react-flex-align-items-start,
.react-flex-align-items-flex-start {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* ALIGN-CONTENT */
.react-flex-align-content-center {
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}
.react-flex-align-content-stretch {
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}
.react-flex-align-content-around,
.react-flex-align-content-space-around {
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
}
.react-flex-align-content-between,
.react-flex-align-content-space-between {
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
}
.react-flex-align-content-end,
.react-flex-align-content-flex-end {
  -webkit-align-content: flex-end;
      -ms-flex-line-pack: end;
          align-content: flex-end;
}
.react-flex-align-content-start,
.react-flex-align-content-flex-start {
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

/* JUSTIFY-CONTENT */
.react-flex-justify-content-start,
.react-flex-justify-content-flex-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.react-flex-justify-content-end,
.react-flex-justify-content-flex-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.react-flex-justify-content-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.react-flex-justify-content-space-around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.react-flex-justify-content-space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* WRAP */
.react-flex-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

/* COLUMN */
.react-flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ROW */
.react-flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* FLEX-BASIS */

.react-flex-item--flex-basis-auto,
.react-flex--flex-basis-auto {
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
}

.react-flex-item--flex-basis-none,
.react-flex-item--flex-basis-0,
.react-flex--flex-basis-none,
.react-flex--flex-basis-0 {
  -webkit-flex-basis: 0px;
      -ms-flex-preferred-size: 0px;
          flex-basis: 0px;
}

.react-flex-item--flex-basis-fill,
.react-flex--flex-basis-fill {
  -webkit-flex-basis: fill;
      -ms-flex-preferred-size: fill;
          flex-basis: fill;
}

.react-flex-item--flex-basis-content,
.react-flex--flex-basis-content {
  -webkit-flex-basis: content;
      -ms-flex-preferred-size: content;
          flex-basis: content;
}

.react-flex-item--flex-basis-fit-content,
.react-flex--flex-basis-fit-content {
  -webkit-flex-basis: fit-content;
      -ms-flex-preferred-size: fit-content;
          flex-basis: fit-content;
}

.react-flex-item--flex-basis-min-content,
.react-flex--flex-basis-min-content {
  -webkit-flex-basis: min-content;
      -ms-flex-preferred-size: min-content;
          flex-basis: min-content;
}

.react-flex-item--flex-basis-max-content,
.react-flex--flex-basis-max-content {
  -webkit-flex-basis: max-content;
      -ms-flex-preferred-size: max-content;
          flex-basis: max-content;
}

/* FLEX */
.react-flex-item--flex-none,
.react-flex-item--flex-0,
.react-flex--flex-none,
.react-flex--flex-0 {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

.react-flex-item--flex-1,
.react-flex--flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.react-flex-item--flex-2,
.react-flex--flex-2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.react-flex-item--flex-3,
.react-flex--flex-3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.react-flex-item--flex-4,
.react-flex--flex-4 {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.react-flex-item--flex-5,
.react-flex--flex-5 {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.react-flex-item--flex-6,
.react-flex--flex-6 {
  -webkit-box-flex: 6;
  -webkit-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.react-flex-item--flex-7,
.react-flex--flex-7 {
  -webkit-box-flex: 7;
  -webkit-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.react-flex-item--flex-8,
.react-flex--flex-8 {
  -webkit-box-flex: 8;
  -webkit-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

.react-flex-item--flex-9,
.react-flex--flex-9 {
  -webkit-box-flex: 9;
  -webkit-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

.react-flex-item--flex-10,
.react-flex--flex-10 {
  -webkit-box-flex: 10;
  -webkit-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.react-flex-item--flex-11,
.react-flex--flex-11 {
  -webkit-box-flex: 11;
  -webkit-flex: 11;
      -ms-flex: 11;
          flex: 11;
}

.react-flex-item--flex-12,
.react-flex--flex-12 {
  -webkit-box-flex: 12;
  -webkit-flex: 12;
      -ms-flex: 12;
          flex: 12;
}

/* FLEX-GROW */

.react-flex-item--flex-grow-0,
.react-flex--flex-grow-0 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.react-flex-item--flex-grow-1,
.react-flex--flex-grow-1 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.react-flex-item--flex-grow-2,
.react-flex--flex-grow-2 {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.react-flex-item--flex-grow-3,
.react-flex--flex-grow-3 {
  -webkit-box-flex: 3;
  -webkit-flex-grow: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.react-flex-item--flex-grow-4,
.react-flex--flex-grow-4 {
  -webkit-box-flex: 4;
  -webkit-flex-grow: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.react-flex-item--flex-grow-5,
.react-flex--flex-grow-5 {
  -webkit-box-flex: 5;
  -webkit-flex-grow: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}

.react-flex-item--flex-grow-6,
.react-flex--flex-grow-6 {
  -webkit-box-flex: 6;
  -webkit-flex-grow: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
}

.react-flex-item--flex-grow-7,
.react-flex--flex-grow-7 {
  -webkit-box-flex: 7;
  -webkit-flex-grow: 7;
      -ms-flex-positive: 7;
          flex-grow: 7;
}

.react-flex-item--flex-grow-8,
.react-flex--flex-grow-8 {
  -webkit-box-flex: 8;
  -webkit-flex-grow: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
}

.react-flex-item--flex-grow-9,
.react-flex--flex-grow-9 {
  -webkit-box-flex: 9;
  -webkit-flex-grow: 9;
      -ms-flex-positive: 9;
          flex-grow: 9;
}

.react-flex-item--flex-grow-10,
.react-flex--flex-grow-10 {
  -webkit-box-flex: 10;
  -webkit-flex-grow: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}

.react-flex-item--flex-grow-11,
.react-flex--flex-grow-11 {
  -webkit-box-flex: 11;
  -webkit-flex-grow: 11;
      -ms-flex-positive: 11;
          flex-grow: 11;
}

.react-flex-item--flex-grow-12,
.react-flex--flex-grow-12 {
  -webkit-box-flex: 12;
  -webkit-flex-grow: 12;
      -ms-flex-positive: 12;
          flex-grow: 12;
}

/* FLEX-SHRINK */

.react-flex-item--flex-shrink-0,
.react-flex--flex-shrink-0 {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.react-flex-item--flex-shrink-1,
.react-flex--flex-shrink-1 {
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}

.react-flex-item--flex-shrink-2,
.react-flex--flex-shrink-2 {
  -webkit-flex-shrink: 2;
      -ms-flex-negative: 2;
          flex-shrink: 2;
}

.react-flex-item--flex-shrink-3,
.react-flex--flex-shrink-3 {
  -webkit-flex-shrink: 3;
      -ms-flex-negative: 3;
          flex-shrink: 3;
}

.react-flex-item--flex-shrink-4,
.react-flex--flex-shrink-4 {
  -webkit-flex-shrink: 4;
      -ms-flex-negative: 4;
          flex-shrink: 4;
}

.react-flex-item--flex-shrink-5,
.react-flex--flex-shrink-5 {
  -webkit-flex-shrink: 5;
      -ms-flex-negative: 5;
          flex-shrink: 5;
}

.react-flex-item--flex-shrink-6,
.react-flex--flex-shrink-6 {
  -webkit-flex-shrink: 6;
      -ms-flex-negative: 6;
          flex-shrink: 6;
}

.react-flex-item--flex-shrink-7,
.react-flex--flex-shrink-7 {
  -webkit-flex-shrink: 7;
      -ms-flex-negative: 7;
          flex-shrink: 7;
}

.react-flex-item--flex-shrink-8,
.react-flex--flex-shrink-8 {
  -webkit-flex-shrink: 8;
      -ms-flex-negative: 8;
          flex-shrink: 8;
}

.react-flex-item--flex-shrink-9,
.react-flex--flex-shrink-9 {
  -webkit-flex-shrink: 9;
      -ms-flex-negative: 9;
          flex-shrink: 9;
}

.react-flex-item--flex-shrink-10,
.react-flex--flex-shrink-10 {
  -webkit-flex-shrink: 10;
      -ms-flex-negative: 10;
          flex-shrink: 10;
}

.react-flex-item--flex-shrink-11,
.react-flex--flex-shrink-11 {
  -webkit-flex-shrink: 11;
      -ms-flex-negative: 11;
          flex-shrink: 11;
}

.react-flex-item--flex-shrink-12,
.react-flex--flex-shrink-12 {
  -webkit-flex-shrink: 12;
      -ms-flex-negative: 12;
          flex-shrink: 12;
}