@import '../../../node_modules/normalize.css/normalize.css'
@import '../../../node_modules/css-utils/styles/css-utils.styl'

borderColor=magenta
body
    padding 30px
    border 1px solid red
    *
        border-width 0px

.rf-layout
    border-style solid
    position relative
    size 100%
    &.rf-row
        @extend .u-flex-row

    &.rf-column
        @extend .u-flex-column

    &.rf-composite
        > .rf-layout-item
            flex 1

    &.rf-row-1-column-n
    &.rf-column-n-row-1
        & > .rf-layout-item
            position relative
            .rf-row
                position absolute
                size 100%
                top 0px
                left 0px

    &.rf-row-1-column-n.rf-vertical
    &.rf-column-n-row-1.rf-vertical
        @extend .u-flex-row

    &.rf-row-1-column-n.rf-horizontal
    &.rf-column-n-row-1.rf-horizontal
        @extend .u-flex-column