.react-flex {
  display: flex;
  align-items: center;
}

/* ALIGN-ITEMS */
.react-flex-align-items-center {
  align-items: center;
}
.react-flex-align-items-stretch {
  align-items: stretch;
}
.react-flex-align-items-end,
.react-flex-align-items-flex-end {
  align-items: flex-end;
}
.react-flex-align-items-start,
.react-flex-align-items-flex-start {
  align-items: flex-start;
}

/* ALIGN-CONTENT */
.react-flex-align-content-center {
  align-content: center;
}
.react-flex-align-content-stretch {
  align-content: stretch;
}
.react-flex-align-content-around,
.react-flex-align-content-space-around {
  align-content: space-around;
}
.react-flex-align-content-between,
.react-flex-align-content-space-between {
  align-content: space-between;
}
.react-flex-align-content-end,
.react-flex-align-content-flex-end {
  align-content: flex-end;
}
.react-flex-align-content-start,
.react-flex-align-content-flex-start {
  align-content: flex-start;
}

/* JUSTIFY-CONTENT */
.react-flex-justify-content-start,
.react-flex-justify-content-flex-start {
  justify-content: flex-start;
}

.react-flex-justify-content-end,
.react-flex-justify-content-flex-end {
  justify-content: flex-end;
}
.react-flex-justify-content-center {
  justify-content: center;
}
.react-flex-justify-content-space-around {
  justify-content: space-around;
}
.react-flex-justify-content-space-between {
  justify-content: space-between;
}
/* WRAP */
.react-flex-wrap {
  flex-wrap: wrap;
}

/* COLUMN */
.react-flex-column {
  flex-direction: column;
}

/* ROW */
.react-flex-row {
  flex-direction: row;
}

/* FLEX-BASIS */

.react-flex-item--flex-basis-auto,
.react-flex--flex-basis-auto {
  flex-basis: auto;
}

.react-flex-item--flex-basis-none,
.react-flex-item--flex-basis-0,
.react-flex--flex-basis-none,
.react-flex--flex-basis-0 {
  flex-basis: 0px;
}

.react-flex-item--flex-basis-fill,
.react-flex--flex-basis-fill {
  flex-basis: fill;
}

.react-flex-item--flex-basis-content,
.react-flex--flex-basis-content {
  flex-basis: content;
}

.react-flex-item--flex-basis-fit-content,
.react-flex--flex-basis-fit-content {
  flex-basis: fit-content;
}

.react-flex-item--flex-basis-min-content,
.react-flex--flex-basis-min-content {
  flex-basis: min-content;
}

.react-flex-item--flex-basis-max-content,
.react-flex--flex-basis-max-content {
  flex-basis: max-content;
}

/* FLEX */
.react-flex-item--flex-none,
.react-flex-item--flex-0,
.react-flex--flex-none,
.react-flex--flex-0 {
  flex: none;
}

.react-flex-item--flex-1,
.react-flex--flex-1 {
  flex: 1;
}

.react-flex-item--flex-2,
.react-flex--flex-2 {
  flex: 2;
}

.react-flex-item--flex-3,
.react-flex--flex-3 {
  flex: 3;
}

.react-flex-item--flex-4,
.react-flex--flex-4 {
  flex: 4;
}

.react-flex-item--flex-5,
.react-flex--flex-5 {
  flex: 5;
}

.react-flex-item--flex-6,
.react-flex--flex-6 {
  flex: 6;
}

.react-flex-item--flex-7,
.react-flex--flex-7 {
  flex: 7;
}

.react-flex-item--flex-8,
.react-flex--flex-8 {
  flex: 8;
}

.react-flex-item--flex-9,
.react-flex--flex-9 {
  flex: 9;
}

.react-flex-item--flex-10,
.react-flex--flex-10 {
  flex: 10;
}

.react-flex-item--flex-11,
.react-flex--flex-11 {
  flex: 11;
}

.react-flex-item--flex-12,
.react-flex--flex-12 {
  flex: 12;
}

/* FLEX-GROW */

.react-flex-item--flex-grow-0,
.react-flex--flex-grow-0 {
  flex-grow: 0;
}

.react-flex-item--flex-grow-1,
.react-flex--flex-grow-1 {
  flex-grow: 1;
}

.react-flex-item--flex-grow-2,
.react-flex--flex-grow-2 {
  flex-grow: 2;
}

.react-flex-item--flex-grow-3,
.react-flex--flex-grow-3 {
  flex-grow: 3;
}

.react-flex-item--flex-grow-4,
.react-flex--flex-grow-4 {
  flex-grow: 4;
}

.react-flex-item--flex-grow-5,
.react-flex--flex-grow-5 {
  flex-grow: 5;
}

.react-flex-item--flex-grow-6,
.react-flex--flex-grow-6 {
  flex-grow: 6;
}

.react-flex-item--flex-grow-7,
.react-flex--flex-grow-7 {
  flex-grow: 7;
}

.react-flex-item--flex-grow-8,
.react-flex--flex-grow-8 {
  flex-grow: 8;
}

.react-flex-item--flex-grow-9,
.react-flex--flex-grow-9 {
  flex-grow: 9;
}

.react-flex-item--flex-grow-10,
.react-flex--flex-grow-10 {
  flex-grow: 10;
}

.react-flex-item--flex-grow-11,
.react-flex--flex-grow-11 {
  flex-grow: 11;
}

.react-flex-item--flex-grow-12,
.react-flex--flex-grow-12 {
  flex-grow: 12;
}

/* FLEX-SHRINK */

.react-flex-item--flex-shrink-0,
.react-flex--flex-shrink-0 {
  flex-shrink: 0;
}

.react-flex-item--flex-shrink-1,
.react-flex--flex-shrink-1 {
  flex-shrink: 1;
}

.react-flex-item--flex-shrink-2,
.react-flex--flex-shrink-2 {
  flex-shrink: 2;
}

.react-flex-item--flex-shrink-3,
.react-flex--flex-shrink-3 {
  flex-shrink: 3;
}

.react-flex-item--flex-shrink-4,
.react-flex--flex-shrink-4 {
  flex-shrink: 4;
}

.react-flex-item--flex-shrink-5,
.react-flex--flex-shrink-5 {
  flex-shrink: 5;
}

.react-flex-item--flex-shrink-6,
.react-flex--flex-shrink-6 {
  flex-shrink: 6;
}

.react-flex-item--flex-shrink-7,
.react-flex--flex-shrink-7 {
  flex-shrink: 7;
}

.react-flex-item--flex-shrink-8,
.react-flex--flex-shrink-8 {
  flex-shrink: 8;
}

.react-flex-item--flex-shrink-9,
.react-flex--flex-shrink-9 {
  flex-shrink: 9;
}

.react-flex-item--flex-shrink-10,
.react-flex--flex-shrink-10 {
  flex-shrink: 10;
}

.react-flex-item--flex-shrink-11,
.react-flex--flex-shrink-11 {
  flex-shrink: 11;
}

.react-flex-item--flex-shrink-12,
.react-flex--flex-shrink-12 {
  flex-shrink: 12;
}